extends ./layout
block append script
  script(src='/js/admin/question.js')
block content
  //- 问题
  p= '问题：' + question.title

  //- 评论管理
  include comment_edit_modal.jade
  p 评论管理
  table.table.table-condensed.table-bordered.question(qid=question.id)
    thead
      tr
        th 评论
        th 作者
        th 发表时间
        th 操作
    tbody
      each comment in question.comment
        tr.comment(cid=comment.id)
          td.content= comment.content
          td= comment.created_by.name ? comment.created_by.name : comment.created_by.email
          td= moment(comment.created_at).format('YYYY年MM月DD日 HH:mm')
          td.small
            a(href='#')
              i.action.fa.fa-trash.delete
            a(href='#')
              i.action.fa.fa-pencil.edit
  //- 答案管理
  include answer_edit_modal.jade
  p 答案管理
    table.table.table-condensed.table-bordered.question(qid=question.id)
      thead
        tr
          th 回答
          th 作者
          th 发表时间
          th 操作
      tbody
        each answer in answers
          tr.answer(aid=answer.id)
            td
              a(href='/admin/answers/' + answer.id).content= answer.content
            td= answer.created_by.name ? answer.created_by.name : answer.created_by.email
            td= moment(answer.created_at).format('YYYY年MM月DD日 HH:mm')
            td.small
              a(href='#')
                i.action.fa.fa-trash.delete
              a(href='#')
                i.action.fa.fa-pencil.edit