extends ./layout
block append script
  script(src='/js/admin/users.js')
block content
  h3 注册总人数: 
    span=users.length
  button.btn.btn-primary.btn-xs#updateTop(title='更新置顶排序' type='active') 更新置顶排序
  table.table.table-condensed.table-bordered#user-table
    thead
      tr
        th 序号
        th 置顶序号
        th 头像
        th 姓名
        th 是否激活
        th 注册ID
        th 注册邮箱
        th 注册电话
        th 注册时间
        th 操作
    tbody
      if users
        each user, key in users
          tr.user(uid= user.id)
            td=key+1
            td
              if user.top==-1
                input(type=text value=user.top disabled)
              else
                input(type=text value=user.top)
            td.small
              img(src=user.logo_img height='40px')
            td= user.name
            td= user.active?'已激活':'未激活'
            td
              a(href='/users/'+user.id)= user.id
            td= user.email
            td= user.mobile_phone
            td= moment(user.creation_time).format('YYYY/MM/DD')
            td.small
              //- if user.active
              //-   button.action.btn.btn-primary.btn-xs.disabled(title='该项目已经激活' type='active') 帮他激活
              //- else
              if user.active
                button.action.btn.btn-primary.btn-xs.remove.hide(title='取消激活' type='active') 取消激活
                button.action.btn.btn-primary.btn-xs.add.disabled(title='帮他激活' type='active') 帮他激活
              else
                button.action.btn.btn-danger.btn-xs.add(title='帮他激活' type='active') 帮他激活
              //- add top button
              if user.top>=0
                button.action.btn.btn-danger.btn-xs.remove(title='该用户已经置顶' type='top') 取消置顶
              else
                button.action.btn.btn-primary.btn-xs.add(title='添加到置顶' type='top') 添加置顶
              if user.display
                button.action.btn.btn-danger.btn-xs.remove(title='该用户正常显示，要隐藏吗？' type='display') 隐藏用户
              else
                button.action.btn.btn-primary.btn-xs.add(title='该用户已隐藏，要显示吗？' type='display') 显示用户
              //- add hot button
              //- if project.recruitments && project.recruitments.length > 0
              //-   if project.hot
              //-     button.action.btn.btn-danger.btn-xs.remove(title='该项目已经添为hot项目' type='hot') 取消Hot方块
              //-   else
              //-     button.action.btn.btn-primary.btn-xs.add(title='添加为Hot' type='hot') 添加Hot方块
              //- //- add recommended button
              //- if project.recommended
              //-   button.action.btn.btn-danger.btn-xs.remove(title='该项目已经添为hot项目' type='recommended') 取消推荐到首页横栏
              //- else
              //-   button.action.btn.btn-primary.btn-xs.add(title='添加为Hot' type='recommended') 推荐到首页横栏