extends ./layout
block append script
  script(src='/js/admin/projects.js')
block content
  table.table.table-condensed.table-bordered#project-table
    thead
      tr
        th 头像
        th 姓名
        th 注册ID
        th 注册邮箱
        th 注册电话
        th 注册时间
        th 操作
    tbody
      if users
        each user in users
          tr.project(uid= user.id)
            td.small
              img(src=user.logo_img height='40px')
            td= user.name
            td
              a(href='/users/'+user.id)= user.id
            td= user.email
            td= user.mobile_phone
            td= moment(user.creation_time).format('YYYY/MM/DD')
            td.small
              //- add hot button
              //- if project.recruitments && project.recruitments.length > 0
              //-   if project.hot
              //-     button.action.btn.btn-danger.btn-xs.remove(title='该项目已经添为hot项目' type='hot') 取消Hot方块
              //-   else
              //-     button.action.btn.btn-primary.btn-xs.add(title='添加为Hot' type='hot') 添加Hot方块
              //- //- add recommended button
              //- if project.recommended
              //-   button.action.btn.btn-danger.btn-xs.remove(title='该项目已经添为hot项目' type='recommended') 取消推荐到首页横栏
              //- else
              //-   button.action.btn.btn-primary.btn-xs.add(title='添加为Hot' type='recommended') 推荐到首页横栏