extends base
block content
  <!--header-->
  header
    .container
      .row
        .col-lg-9
          img.img-responsive(src='images/profile.png', alt='')
        .col-lg-3
          .btn-group-vertical.btn-group-lg
            a.btn.btn-lg.btn-outline(href='#')
              i.fa.fa-download='工位入驻'
            a.btn.btn-lg.btn-outline(href='#')
              i.fa.fa-download='创业项目入驻'
            a.btn.btn-lg.btn-outline(href='#')
              i.fa.fa-download='创业导师对对碰'
            a.btn.btn-lg.btn-outline(href='#')
              i.fa.fa-download='技术人才大咖秀'
      .row
        .intro-text
          span.name='IT copartner'
          hr.star-light
          span.skills='Web Developer'
  <!--introduction-section-->
  section
    .jumbotron
      .container
        .row
          .col-sm-3.portfolio-item
            img.img-responsive(src='images/portfolio/black-circuit-320.png', alt='')
          .col-sm-9
            h3='个性化面膜O2O'
            h4='项目亮点'
            h4='创始人亮点'
            h4='项目阶段'
            h4='合伙人需求：1位产品合伙人，1位市场合伙人'
        br
        div(style='BORDER-TOP: #00686b 1px dashed; OVERFLOW: hidden; HEIGHT: 1px')
        br
        .row
          .col-sm-9
            h3='个性化面膜O2O'
            h4='项目亮点'
            h4='创始人亮点'
            h4='项目阶段'
            h4='合伙人需求：1位产品合伙人，1位市场合伙人'          
          .col-sm-3.portfolio-item
            img.img-responsive(src='images/portfolio/social2.png', alt='')
  <!--projects-section-->
  section#portfolio
    .container
      .row
        .col-lg-12.text-center
          h2='这些项目正在找技术合伙人'
          hr.star-primary
      .row
        each item in hots
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioProject_#{item.pid}', data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='#{item.img}', alt='')
  each item in hots
    include project_detail