extends base
block append link
  link(rel='stylesheet', href='/css/index.css')
block append script
  //- script(src='/javascripts/jquery.js')
block content
  //- include search.jade
  <!--header-->
  .section.banner
    .jumbotron.wrapper.visible-xs(style='height:370px')
      img.outlook-img(src='images/team.png')
      div.color-overlay
      div.signup-left
        h1 IT
          span 合伙人
        p 在这里找到创业小伙伴
        .row(style='margin-top:90px;')
          button.btn.btn-info.btn-lg.center-block.btn-block(style='font-size:17.5px;border-color:#fff; border-bottom:0; margin-bottom:0; ',onclick='window.location.href="/home"')  成为专业人才
          button.btn.btn-info.btn-lg.center-block.btn-block(style='font-size:17.5px;border-color:#fff;margin-top:0',onclick='window.location.href="/new/recruitment"')  发布合伙需求
    //- .jumbotron.wrapper.visible-xs(style='background: url("images/team.png" ) no-repeat center 0px; ')
    //-   .container
    //-     .row
    //-       .col-sm-4
    //-         h1 IT合伙人
    //-         h4 在这里找到创业小伙伴
    //-     .row
    //-       button.btn.btn-info.center-block.btn-block(style='border-color:#fff; border-bottom:0; margin-bottom:0; ',onclick='window.location.href="/home"')  成为专业人才
    //-       button.btn.btn-info.center-block.btn-block(style='border-color:#fff; border-bottom:0;margin-top:0',onclick='window.location.href="/new/recruitment"')  发布合伙需求
    //-       button.btn.btn-info.center-block.btn-block(style='border-color:#fff;margin-top:0',onclick='window.location.href="/new/project"')  发布创业项目
    .jumbotron.wrapper.hidden-xs
      .container.hidden-xs
        .row
          .col-sm-4.hidden-xs
            img.img-responsive.center-block(src='images/profile.png', alt='', width='65%')
          .col-sm-4
            h1 IT合伙人
            h4 在这里找到创业小伙伴
          .col-sm-4.hidden-xs
            img.img-responsive.center-block(src='images/team.png', alt='')
          .col-sm-4.visible-xs
            img.img-responsive.center-block(src='images/team.png', alt='', width='80%', style='opacity: 0.5;')
        
        .row.hidden-xs  
          if signinUser
            button.btn.btn-info.center-block(style='border-color:#fff',onclick='window.location.href="/new/recruitment"')  立刻发布合伙需求
          else
            button.btn.btn-info.center-block(style='border-color:#fff',onclick='window.location.href="/signup"')  立刻开启你的创业梦想
  <!--IT人-->
  .section.private_promise
    .wrapper
      .container
        .row
          h4.text-center IT人为什么选择我们
        .row
          .col-sm-4
            .row
              .col-sm-12 
                i.fa.fa-search-plus
                .text
                  .fz20 低调创业
                  .details 只有你申请的创业团队和好友才能看见你的创业梦想，现任老板看不见
          .col-sm-4
            .row
              .col-sm-12    
                i.fa.fa-search-plus
                .text
                  .fz20 薪资和股权
                  .details 申请之前你就能看到薪资和股权
          .col-sm-4
            .row
              .col-sm-12
                i.fa.fa-search-plus
                .text
                  .fz20 无中间方
                  .details 和创始人直接对话
        .row(style="text-align: center;")
          if signinUser
            .btn-group(role="group")
              button.btn.btn-info(onclick='window.location.href="/home"')  立刻成为专业人才
          else
            button.btn.btn-info.center-block(onclick='window.location.href="/home"')  立刻成为专业人才
  <!--introduction-section-->
  if recommends && recommends.length >0
    .section.browse_by_prod
      .jumbotron
        .container
          .row
            .col-lg-12.text-center
              h4='大家正在关注这些项目'
              hr.star-primary
          each recommend, index in recommends
            if((index+1) % 2 ==1)
              .row
                .col-sm-3.col-sm-offset-1.portfolio-item
                  a(href='/projects/'+recommend._id)
                    img.img-responsive(src=recommend.logo_img, alt='')
                .col-sm-8
                  a(href='/projects/'+recommend._id)
                    h4=recommend.name
                  div=recommend.keyword             
                  div='项目阶段：'+recommend.stage
                  if (recommend.funding&&recommend.funding.next)
                    div='融资需求：'+recommend.funding.next.need
                  div='快来看看TA有什么合伙需求吧！！！'
              br
              if index!=recommends.length-1
                div(style='BORDER-TOP: #00686b 1px dashed; OVERFLOW: hidden; HEIGHT: 1px')
              br
            else
              .row              
                .col-sm-8.right
                  a(href='/projects/'+recommend._id)
                    h4=recommend.name
                  div=recommend.keyword             
                  div='项目阶段：'+recommend.stage
                  if (recommend.funding&&recommend.funding.next)
                    div='融资需求：'+recommend.funding.next.need
                  div='快来看看TA有什么合伙需求吧！！！'
                .col-sm-3.portfolio-item
                  a(href='/projects/'+recommend._id)
                    img.img-responsive(src=recommend.logo_img, alt='')
              br
              if index!=recommends.length-1
                div(style='BORDER-TOP: #00686b 1px dashed; OVERFLOW: hidden; HEIGHT: 1px')
              br
  <!--创业者-->
  .section.activi_for_startup
    .wrapper
      .container
        .row
          h4.text-center 创始人为什么选择我们
        .row
          .col-sm-4
            .row
              .col-sm-12 
                i.fa.fa-search-plus
                .text
                  .fz20 高品质候选IT人才
                  .details 来自顶尖公司的IT开发人员、设计和运营人员
          .col-sm-4
            .row
              .col-sm-12    
                i.fa.fa-search-plus
                .text
                  .fz20 100%完全免费
                  .details 不需要任何费用和成本
          .col-sm-4
            .row
              .col-sm-12
                i.fa.fa-search-plus
                .text
                  .fz20 节约时间
                  .details 轻松点击，即可直接联系潜在IT合伙人                
        .row(style="text-align: center;")
          if signinUser
            .btn-group(role="group")
              button.btn.btn-info(onclick='window.location.href="/new/recruitment"')  立刻发布合伙需求
          else
            button.btn.btn-info.center-block(onclick='window.location.href="/new/recruitment"')  立刻发布合伙需求
     
  
  <!--projects-section-->
  if hots && hots.length >0
    .section.browse_by_prod#portfolio
      .jumbotron
        .container
          .row
            .col-lg-12.text-center
              h4='这些项目正在寻找IT合伙人'
              hr.star-primary
          .row
            each item in hots
              - console.log("item:")
              - console.log(item)
              .col-sm-2.portfolio-item
                a.portfolio-link(href='projects/#{item._id}', data-toggle='modal')
                  .caption
                    .caption-content
                      i.fa.fa-search-plus.fa-3x
                      p= item.name
                      p= item.keyword
                  img.img-responsive(src='#{item.logo_img}', alt='')
  <!--指南-->
  .section.how_it_works
    .wrapper
      .container
        .row
          h4.text-center 如何快速使用
        .row
          .col-sm-4.col-sm-offset-2
            .row
              .col-sm-12
                  i.fa.fa-search-plus
                  .text
                    .fz20 如果你是创始人
                    .col-sm-12.details
                      .badge 1
                      span 发布你的创业项目
                    .col-sm-12.details   
                      .badge 2
                      span 发布IT合伙人招募信息
            .row
              .col-sm-5.col-sm-offset-1
                button.btn.btn-info.center-block(onclick='window.location.href="/new/recruitment"')  立刻发布合伙需求
          .col-sm-6
            .row
              .col-sm-12   
                i.fa.fa-search-plus
                .text
                  .fz20 如果你是想参与创业的IT人
                  .col-sm-12.details
                    .badge 1
                    span 完善你的信息
                  .col-sm-12.details
                    .badge 2
                    span 查找招募信息，找到合适的创始人和创业项目
            .row
              .col-sm-5.col-sm-offset-1
                button.btn.btn-info.center-block(onclick='window.location.href="/home"')  立刻成为专业人才
              
  //- each item in hots
  //-   include project_detail