extends base
block content
  link(rel='stylesheet', href='/css/recruitments.css')
  include search.jade
  .container-fluid#portfolio
    .row
      .col-md-8
        .well.transparent
          .panel
            .panel-body
              .row
                .col-md-3
                  if project.logo_img&&project.logo_img.indexOf('upload_portfolio')!==-1
                    img.img-responsive(src=project.logo_img, width='100%')
                  else
                    .logo(style='padding-top:5px')=project.name.substring(0,1)
                  //- img.img-responsive(src=project.logo_img)
                .col-md-9
                  h3= project.name
                  p= project.keyword
                  p= project.stage
                  p= project.tag
          .panel
            .panel-heading='项目描述'
            .panel-body
              p.f13= project.description
          .panel
            .panel-heading='项目创建人信息'
            .panel-body
              if project.creator
                .col-sm-3.portfolio-item
                  include ./mixin/util.jade
                  +creator(project.creator)
          if project.partners&&project.partners.length>0
            .panel
              .panel-heading='团队成员'
              .panel-body
                each partner in project.partners
                  //- .col-sm-6.portfolio-item
                  //-   .media
                  //-     a.pull-left
                  //-       img.media-object(src='http://placehold.it/80/F0F0F0')
                  //-     .media-body
                  //-       h5.media-heading
                  //-         a
                  //-           strong #{founders[member]}
                  //-       small='简要摘要'
                  //-       br
                  //-       span.badge='关注'
                  //-         i.fa.fa-star-o
                  //-       small='87人关注他'
          if project.required_skills
            .panel
              .panel-heading='需要的技能'
              .panel-body
                p= project.required_skills
          if project.company
            .panel
              .panel-heading='公司信息'
              .panel-body
                p= project.company
          if project.link
            .panel
              .panel-heading='项目链接'
              .panel-body
                if project.link.indexOf("http")!==-1
                  a(href=project.link target='_blank')= project.link
                else
                  a(href='http://' + project.link target='_blank')= project.link
      .col-md-4.well.transparent
        .panel
          .panel-heading
          .panel-body
            .text-center.f13
              h5 合伙需求
              if recruitments&&recruitments.length>0
                each recruitement in recruitments
                  .col-sm-6
                    a(href='/recruitments/'+recruitement._id)=recruitement.classify
                  .col-sm-3
                    span=recruitement.fulltime
                  .col-sm-3
                    span=recruitement.location
                  br
              else
                span 静候项目开放合作机会！
        if project.company
          .panel
            .panel-heading
            .panel-body
              .text-center.f13
                h5 公司名称
                p= company
        if project.stage
          .panel
            .panel-heading
            .panel-body
              .text-center.f13
                h5 项目阶段
                p.f13= project.stage
        if project.funding && project.funding.current
          .panel
            .panel-heading
            .panel-body
              .text-center.f13
                h5 目前融资状况
                p.f13= project.funding.current
        if project.funding && project.funding.next
          .panel
            .panel-heading
            .panel-body
              .text-center.f13
                h5 融资计划
                p.f13= project.funding.next.need
                h5 出让股权
                p.f13= project.funding.next.return