extends base
block append script
  script(src='/js/projects.js')
  script(src='/js/user.js')
block content
  link(rel='stylesheet', href='/css/top_nav.css')
  link(rel='stylesheet', href='/css/recruitments.css')

  .container-fluid
    //.col-lg-2.col-lg-offset-1.col-md-3.col-sm-12.col-xs-12.padding-19.hidden-xs
    .row
      .col-lg-10.col-md-9.col-xs-12.hidden-xs
        .header.sub-header
          .navbar-collapse.mega-menu.navbar-responsive-collapse
            if filters
              ul.nav.navbar-nav
                include mixin/select.jade
                each filter in filters
                  +dropdownMenu(filter)
      .col-lg-2.col-md-3.col-xs-12.actionBtn(style="text-align: center")
       include search.jade
    .well.transparent.list-show
      .panel
        .panel-body
          if users.length==0
            .empty_result 没有搜索到人
              br
            | 请试试其他搜索吧......
          if tops.length!==0
            each user in tops
              if user.display && (user.email || user.mobile_phone)
                li.col-md-12.portfolio-item
                  .media
                    .media-left.media-middle.col-md-3.col-xs-3
                      a(href='/users/' + user._id)
                        // - var Arr = ["a6-160","a7-160","a8-160","a9-160","a10-160","a11-160","a12-160","a13-160","a14-160","a15-160"];
                        // - var n = Math.floor(Math.random() * Arr.length + 1)-1;
                        if user.logo_img&&user.logo_img.indexOf('upload_avatars')!==-1
                          img.media-object(src=user.logo_img, width='100%',style='max-width: 120px')
                        else
                          img.media-object(src='/images/avatars/default.png',width='100%',style='max-width: 120px')
                    .media-body.col-md-5.col-xs-9(onclick="location.href='/users/#{user._id}'")
                      h5.media-heading.mb10
                        a(href= '/users/' + user._id)
                          strong=user.name?user.name:(user.email?user.email.split('@')[0]:(user.mobile_phone?user.mobile_phone.toString().substring(0,3)+"****"+user.mobile_phone.toString().substring(8,11):"ID:"+user.id))
                        small= user.role
                      .small
                        strong='地址：'
                        =user.location?user.location:'创业者暂未公布'
                      .small
                        strong='状态：'
                        =user.role?user.role:'创业者暂未公布'
                      .small
                        strong='角色定位：'
                        =user.status?user.status:'创业者暂未公布'
                      .small
                        strong='个人一句话描述：'
                        =user.description?user.description:'创业者暂未公布'
                    .media-body.col-md-4.col-xs-12
                        if user.work_experiences_tags && user.work_experiences_tags.length>0
                            each tag in user.work_experiences_tags
                              span.tag.label.label-info=tag
                              span= ' '
          each user in users
            if user.top<0 && user.display && (user.email || user.mobile_phone)
              li.col-md-12.portfolio-item
                .media
                  .media-left.media-middle.col-md-3.col-xs-3
                    a(href='/users/' + user._id)
                      // - var Arr = ["a6-160","a7-160","a8-160","a9-160","a10-160","a11-160","a12-160","a13-160","a14-160","a15-160"];
                      // - var n = Math.floor(Math.random() * Arr.length + 1)-1;
                      if user.logo_img&&user.logo_img.indexOf('upload_avatars')!==-1
                        img.media-object(src=user.logo_img, width='100%',style='max-width: 120px')
                      else
                        img.media-object(src='/images/avatars/default.png',width='100%',style='max-width: 120px')
                  .media-body.col-md-5.col-xs-9(onclick="location.href='/users/#{user._id}'")
                    h5.media-heading.mb10
                      a(href= '/users/' + user._id)
                        strong=user.name?user.name:(user.email?user.email.split('@')[0]:(user.mobile_phone?user.mobile_phone.toString().substring(0,3)+"****"+user.mobile_phone.toString().substring(8,11):"ID:"+user.id))
                      small= user.role
                    .small
                      strong='地址：'
                      =user.location?user.location:'创业者暂未公布'
                    .small
                      strong='状态：'
                      =user.role?user.role:'创业者暂未公布'
                    .small
                      strong='角色定位：'
                      =user.status?user.status:'创业者暂未公布'
                    .small
                      strong='个人一句话描述：'
                      =user.description?user.description:'创业者暂未公布'
                  .media-body.col-md-4.col-xs-12
                      if user.work_experiences_tags && user.work_experiences_tags.length>0
                          each tag in user.work_experiences_tags
                            span.tag.label.label-info=tag
                            span= ' '
        if users.length==limit
          .col-md-12
            div.load-more.btn.btn-info.btn-block(data-page=1, data-limit=limit) 加载更多
                  //- .media-body.col-md-4
                  //-   a.btn.btn-info.navbar-header#addFav(href='javascript:new_add_follow("#{signinUser.id}","#{user.id}","#{user.name}")')='关注'
                  //-   a.btn.btn-default.navbar-header#removeFav(style='display:none', href='javascript:remove_follow("#{signinUser.id}","#{user.id}","#{user.name}")')='取消关注'
                  //-   if (signinUser.id!=user.id)
                  //-     a.btn.btn-info.head_shu#askAdd(href='javascript:new_add_friend("#{signinUser.id}","#{user.id}","#{user.name}")')='建立联系'
                  //-     a.btn.btn-success.head_shu#Added(style='display:none', href='###')='已建立联系'